/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f8e9e7; /* Color de fondo */
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 800px;
  overflow: hidden;
}

/* Sección de bienvenida */
.welcome-section {
  background-color: #f8e9e7;
  padding: 30px;
  text-align: center;
  flex: 1;
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #555;
}

.social-links {
  margin-top: 20px;
  font-size: 14px;
}

.social-links a {
  color: #333;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}

/* Sección de búsqueda */
.search-section {
  padding: 30px;
  flex: 2;
}

.welcome-message {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.welcome-message span {
  color: #d36b6b; /* Color destacado */
}

.instruction {
  font-size: 14px;
  margin-bottom: 20px;
  color: #666;
}

label {
  display: block;
  font-size: 14px;
  color: #d36b6b; /* Color de los labels */
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.search-button {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #555;
}

/* Estilo de resultados */
#resultados {
  margin-top: 20px;
}
